body{
    background-image: url(img/bg.jpg);
    min-height:100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    
}
.navigation{
    
    opacity: 0;
    transition: 1s;
}
.navigation:hover{
    
    opacity: 0.7;
}
.account button :hover{
    color: white;
    
}
.slogan{
    margin-top: 10%;
}
select{
    width: 50%;
}
.progress-bar{
    width: 0%;

}
#save{
    display: none;
}
